h1 {
color: aqua;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color:blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   