h1 {
color: aqua;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color:blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   
.test-box {
    border: 2px solid red;
    padding: 6px;
    margin: 20px;
    background-color: aqua;
}