h1 {
    color: darkturquoise;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: darkblue;
    font-style: italic;
}
nav{
    color: blacks;
}